{{define "footer"}}
<!-- footer section start -->
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Idées de Cadeaux</p>
        <div class="footer-nav">
            <a href="#">Détails</a>
            <a href="#">Politique</a>
            <a href="#">Confidentialité</a>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
</footer>
<!-- footer section end -->
{{end}}
