/* Style général */
body {
    font-family: Arial, sans-serif; /* Police de caractères générale */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Couleur de fond générale */
    color: #333; /* Couleur du texte générale */
}

/* En-tête et navigation */
header {
    background-color: #0073e6; /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte de l'en-tête */
    padding: 10px 0; /* Espacement interne de l'en-tête */
}

header nav ul {
    list-style: none; /* Suppression des puces de la liste */
    display: flex;
    justify-content: center; /* Centrer les éléments du menu */
    padding: 0;
    justify-content: flex-start;
}

header nav ul li {
    margin: 0 15px; /* Espacement entre les éléments du menu */
}

header nav ul li a {
    color: white; /* Couleur du texte des liens de navigation */
    text-decoration: none; /* Suppression du soulignement des liens */
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline; /* Ajout d'un soulignement au survol */
}

/* Section de présentation */
section.presentation {
    background-color: #ffffff; /* Couleur de fond de la section de présentation */
    text-align: center;
    padding: 50px 20px; /* Espacement interne de la section */
    border-bottom: 2px solid #0073e6; /* Bordure en bas de la section */
}

section.presentation h1 {
    color: #0073e6; /* Couleur du texte du titre */
    
}

section.presentation button {
    background-color: #0073e6; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px; /* Espacement interne du bouton */
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacement au-dessus du bouton */
}

section.presentation button:hover {
    background-color: #005bb5; /* Couleur de fond du bouton au survol */
}

/* Section de recherche */
section.search {
    background-color: #e6f2ff; /* Couleur de fond de la section de recherche */
    padding: 20px;
    border-bottom: 2px solid #0073e6; /* Bordure en bas de la section */
    text-align: center; /* Centrer le texte */
}

section.search form {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centrer les éléments du formulaire */ 
    justify-content: center;
}
form label, form select, form input, form button {
    margin: 10px;
  }

section.search label {
    margin-top: 10px; /* Espacement au-dessus des étiquettes */
}
section.search button {
    background-color: #0073e6; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacement au-dessus du bouton */
}

section.search button:hover {
    background-color: #005bb5; /* Couleur de fond du bouton au survol */
}


/* Section des catégories populaires */
section.popular-categories {
    background-color: #ffffff; /* Couleur de fond de la section */
    padding: 30px; /* Espacement interne de la section */
    text-align: center; /* Centrer le texte */
}

section.popular-categories h2 {

    margin-bottom: 20px; /* Espacement en bas du titre */
    
    justify-content: flex-start;

}

section.popular-categories ul {
    list-style: none; /* Suppression des puces de la liste */
    display: flex; /* Disposition en flexbox */
    justify-content: center; /* Centrer les éléments */
    flex-wrap: wrap; /* Permettre le retour à la ligne */
    gap: 30px; /* Espacement entre les éléments */
}

section.popular-categories ul li {
    background-color: #e6f2ff; /* Couleur de fond des éléments */
    border: 1px solid #0073e6; /* Bordure des éléments */
    border-radius: 5px; /* Coins arrondis des éléments */
    width: 250px; /* Largeur fixe des éléments */
    text-align: center; /* Centrer le texte des éléments */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition pour les effets */
    padding: 10px;
    margin: 10px; /* Espacement entre les éléments */
    display: flex; /* Disposition en flexbox pour centrer le contenu */
    flex-direction: column; /* Disposition en colonne */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */

}

section.popular-categories ul li:hover {
    transform: scale(1.05); /* Agrandir légèrement l'élément au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre au survol */
}

section.popular-categories ul li img {
    width: 100%; /* Largeur de l'image */
    height: 100%; /* Hauteur de l'image */
    object-fit: cover; /* L'image couvre entièrement la case */
    border-radius: 5px; /* Coins arrondis des images */
    margin-bottom: 15px; /* Espacement en bas des images */
}
section.popular-categories ul li p {
    color: #333; /* Couleur du texte */
    font-size: 14px; /* Taille de police du texte */
    margin: 0; /* Suppression des marges */
}

/* Section des cadeaux du moment */

.body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.current-gifts {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

.current-gifts h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.gifts-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: auto;
}

.gift {
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gift img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.gift p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.gift:nth-child(odd) {
    transform: rotate(-2deg);
}

.gift:nth-child(even) {
    transform: rotate(2deg);
}

.gift:hover {
    transform: scale(1.05);
}

.gift:hover img {
    transform: rotate(0deg);
}

.gift:hover p {
    background-color: rgba(240, 220, 220, 0.9);
    color: #333;
}

/* Décalage pour les éléments centraux */
.gift:nth-child(2),
.gift:nth-child(5) {
    margin-top: -10px; /* Décalage vers le haut pour les éléments centraux */
}

@media (max-width: 768px) {
    .gifts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gift {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gifts-grid {
        grid-template-columns: 1fr;
    }

    .gift {
        width: 100%;
    }
}

    /* Cadeaux mixte */
    section.mixed {
        background-color: #ffffff; /* Couleur de fond de la section */
        padding: 30px; /* Espacement interne de la section */
        text-align: center; /* Centrer le texte */
    }
    
    section.mixed h2 {
        margin-bottom: 20px; /* Espacement en bas du titre */
    }
    
    section.mixed .mixed-grid {
        display: flex; /* Disposition en flexbox */
        justify-content: center; /* Centrer les éléments */
        flex-wrap: wrap; /* Permettre le retour à la ligne */
        gap: 30px; /* Espacement entre les éléments */
    }
    
    section.mixed .mixed-grid .cadeaux {
        background-color: #e6f2ff; /* Couleur de fond des éléments */
        border: 1px solid #0073e6; /* Bordure des éléments */
        border-radius: 5px; /* Coins arrondis des éléments */
        width: 250px; /* Largeur fixe des éléments */
        text-align: center; /* Centrer le texte des éléments */
        transition: transform 0.3s, box-shadow 0.3s; /* Transition pour les effets */
        padding: 10px;
        margin: 10px; /* Espacement entre les éléments */
        display: flex; /* Disposition en flexbox pour centrer le contenu */
        flex-direction: column; /* Disposition en colonne */
        justify-content: center; /* Centrer le contenu verticalement */
        align-items: center; /* Centrer le contenu horizontalement */
    }
    
    section.mixed .mixed-grid .cadeaux:hover {
        transform: scale(1.05); /* Agrandir légèrement l'élément au survol */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre au survol */
    }
    
    section.mixed .mixed-grid .cadeaux img {
        width: 100%; /* Largeur de l'image */
        height: 100%; /* Hauteur de l'image */
        object-fit: cover; /* L'image couvre entièrement la case */
        border-radius: 5px; /* Coins arrondis des images */
        margin-bottom: 15px; /* Espacement en bas des images */
    }
    
    section.mixed .mixed-grid .cadeaux p {
        color: #333; /* Couleur du texte */
        font-size: 14px; /* Taille de police du texte */
        margin: 0; /* Suppression des marges */
    }
    
/* Pied de page */
/* Styles du pied de page */
footer {
    background-color: #0073e6; /* Définit la couleur de fond du pied de page en bleu */
    color: #fff; /* Définit la couleur du texte en blanc */
    padding: 20px 0; /* Ajoute un espace de 20 pixels en haut et en bas */
    text-align: center; /* Centre le texte à l'intérieur du pied de page */
}

/* Conteneur principal du contenu du pied de page */
.footer-content {
    max-width: 1200px; /* Limite la largeur maximale du contenu à 1200 pixels */
    margin: auto; /* Centre le conteneur horizontalement */
    padding: 20px; /* Ajoute un espace de 20 pixels tout autour du contenu */
    display: flex; /* Utilise le modèle flexbox pour aligner les éléments enfants */
    flex-direction: column; /* Aligne les éléments enfants en colonne */
    align-items: center; /* Centre les éléments enfants horizontalement */
}

/* Styles pour les liens de navigation dans le pied de page */
.footer-nav a {
    color: #fff; /* Définit la couleur des liens en blanc */
    margin: 0 15px; /* Ajoute une marge de 15 pixels à gauche et à droite de chaque lien */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

/* Styles pour les liens de navigation au survol */
.footer-nav a:hover {
    text-decoration: underline; /* Ajoute un soulignement aux liens lorsqu'ils sont survolés */
}

/* Conteneur pour les icônes sociales */
.social-icons {
    margin: 20px 0; /* Ajoute une marge de 20 pixels en haut et en bas */
}

/* Styles pour les liens des icônes sociales */
.social-icons a {
    color: #fff; /* Définit la couleur des icônes sociales en blanc */
    margin: 0 10px; /* Ajoute une marge de 10 pixels à gauche et à droite de chaque icône */
    font-size: 20px; /* Définit la taille de la police des icônes sociales */
}

/* Styles pour les icônes sociales au survol */
.social-icons a:hover {
    color: #f0c040; /* Change la couleur des icônes sociales en jaune orangé lorsqu'elles sont survolées */
}


